:root {
  --color-primary-50: oklch(98.4% 0.013 186.014);
  --color-primary-100: oklch(96.81% 0.03 186.172);
  --color-primary-200: oklch(95.15% 0.0474 186.288);
  --color-primary-300: oklch(92.91% 0.0682 186.028);
  --color-primary-400: oklch(90.54% 0.0889 185.9);
  --color-primary-500: oklch(87.65% 0.109 186.299);
  --color-primary-600: oklch(84.36% 0.1253 186.773);
  --color-primary-700: oklch(80.13% 0.1326 187.419);
  --color-primary-800: oklch(76% 0.1349 187.994);
  --color-primary-900: oklch(72.03% 0.1293 188.459);
  --color-primary-950: oklch(67.3% 0.1215 189.389);
  --color-primary-1000: oklch(61.81% 0.1113 190.785);
  --color-primary-1100: oklch(56.82% 0.101 191.836);
  --color-primary-1200: oklch(51.63% 0.0895 188.691);
  --color-primary-1300: oklch(48.02% 0.0816 193.452);
  --color-primary-1400: oklch(44.11% 0.073 194.237);
  --color-primary-1500: oklch(41.16% 0.0656 194.716);
  --color-primary-1600: oklch(38.44% 0.0586 195.12);
  --color-primary-1700: oklch(33.11% 0.0508 196.931);
  --color-primary-1800: oklch(27.49% 0.0429 198.899);
  --color-neutral-50: oklch(98.44% 0.0004 181.044);
  --color-neutral-100: oklch(97.61% 0.0007 181.04);
  --color-neutral-200: oklch(96.65% 0.0009 179.914);
  --color-neutral-300: oklch(94.41% 0.0013 168.684);
  --color-neutral-400: oklch(92.01% 0.0018 159.906);
  --color-neutral-500: oklch(88.99% 0.0024 160.936);
  --color-neutral-600: oklch(84.32% 0.0032 161.984);
  --color-neutral-700: oklch(75.79% 0.0044 163.075);
  --color-neutral-800: oklch(67.48% 0.0052 163.969);
  --color-neutral-900: oklch(59.49% 0.0057 164.569);
  --color-neutral-950: oklch(55.14% 0.0057 164.869);
  --color-neutral-1000: oklch(46.94% 0.0055 170.251);
  --color-neutral-1100: oklch(42.37% 0.0054 170.845);
  --color-neutral-1200: oklch(38.56% 0.0054 169.444);
  --color-neutral-1300: oklch(33.79% 0.0052 164.163);
  --color-neutral-1400: oklch(28.6% 0.0049 157.219);
  --color-neutral-1500: oklch(24.93% 0.0048 161.209);
  --color-neutral-1600: oklch(21.64% 0.0048 167.932);
  --color-neutral-1700: oklch(17.77% 0.0047 166.922);
  --color-neutral-1800: oklch(13.82% 0.0046 165.053);
  --color-danger-50: oklch(97.1% 0.0133 17.38);
  --color-danger-100: oklch(95.26% 0.0235 17.557);
  --color-danger-200: oklch(93.33% 0.0342 17.749);
  --color-danger-300: oklch(90.65% 0.0503 18.074);
  --color-danger-400: oklch(87.69% 0.0688 18.464);
  --color-danger-500: oklch(83.64% 0.0967 19.115);
  --color-danger-600: oklch(79.16% 0.1287 19.989);
  --color-danger-700: oklch(73.68% 0.17 21.381);
  --color-danger-800: oklch(68.99% 0.2047 22.872);
  --color-danger-900: oklch(65.46% 0.2294 24.511);
  --color-danger-950: oklch(63.7% 0.237 25.331);
  --color-danger-1000: oklch(58.96% 0.2481 26.905);
  --color-danger-1100: oklch(55.43% 0.2396 27.386);
  --color-danger-1200: oklch(51.64% 0.2224 27.488);
  --color-danger-1300: oklch(48.25% 0.2037 27.29);
  --color-danger-1400: oklch(45.04% 0.1844 26.964);
  --color-danger-1500: oklch(42.38% 0.1651 26.404);
  --color-danger-1600: oklch(39.85% 0.1457 25.785);
  --color-danger-1700: oklch(33.06% 0.1201 25.874);
  --color-danger-1800: oklch(25.8% 0.0938 26.042);
  --color-warning-50: oklch(98% 0.0163 73.684);
  --color-warning-100: oklch(96.63% 0.028 74.463);
  --color-warning-200: oklch(95.12% 0.0407 74.929);
  --color-warning-300: oklch(92.33% 0.061 72.578);
  --color-warning-400: oklch(89.43% 0.0828 70.233);
  --color-warning-500: oklch(86.06% 0.1106 67.914);
  --color-warning-600: oklch(82.33% 0.1389 64.655);
  --color-warning-700: oklch(77.75% 0.1684 59.204);
  --color-warning-800: oklch(74.05% 0.1924 54.18);
  --color-warning-900: oklch(70.5% 0.213 47.604);
  --color-warning-950: oklch(68.95% 0.2189 45.897);
  --color-warning-1000: oklch(65.85% 0.2235 42.327);
  --color-warning-1100: oklch(61.66% 0.217 40.259);
  --color-warning-1200: oklch(56.77% 0.2025 38.831);
  --color-warning-1300: oklch(52.24% 0.184 37.997);
  --color-warning-1400: oklch(47.87% 0.1637 37.42);
  --color-warning-1500: oklch(44.39% 0.145 37.669);
  --color-warning-1600: oklch(41.13% 0.1268 38.126);
  --color-warning-1700: oklch(34.07% 0.1038 37.266);
  --color-warning-1800: oklch(26.6% 0.0803 36.259);
  --color-alert-50: oklch(98.7% 0.026 102.212);
  --color-alert-100: oklch(97.96% 0.0497 102.728);
  --color-alert-200: oklch(97.15% 0.0741 103.106);
  --color-alert-300: oklch(95.68% 0.1046 102.236);
  --color-alert-400: oklch(94.08% 0.1346 101.179);
  --color-alert-500: oklch(91.97% 0.1625 99.374);
  --color-alert-600: oklch(89.66% 0.1847 97.136);
  --color-alert-700: oklch(86.87% 0.1936 93.886);
  --color-alert-800: oklch(84% 0.1958 90.696);
  --color-alert-900: oklch(79.5% 0.184 86.047);
  --color-alert-950: oklch(76.5% 0.1782 83.359);
  --color-alert-1000: oklch(70.5% 0.1666 77.984);
  --color-alert-1100: oklch(64.09% 0.1535 72.868);
  --color-alert-1200: oklch(57.41% 0.1393 67.925);
  --color-alert-1300: oklch(52.53% 0.1273 64.771);
  --color-alert-1400: oklch(48.42% 0.1162 62.384);
  --color-alert-1500: oklch(45.28% 0.106 60.139);
  --color-alert-1600: oklch(42.39% 0.096 57.929);
  --color-alert-1700: oklch(35.71% 0.0813 55.863);
  --color-alert-1800: oklch(28.6% 0.066 53.813);
  --color-success-50: oklch(98.01% 0.0176 161.751);
  --color-success-100: oklch(96.66% 0.0311 160.917);
  --color-success-200: oklch(95.22% 0.0452 160.188);
  --color-success-300: oklch(93.01% 0.0641 160.406);
  --color-success-400: oklch(90.63% 0.0845 160.574);
  --color-success-500: oklch(87.59% 0.1105 160.546);
  --color-success-600: oklch(84.21% 0.1348 160.192);
  --color-success-700: oklch(80.02% 0.1549 159.076);
  --color-success-800: oklch(76.05% 0.1669 158.142);
  --color-success-900: oklch(72.42% 0.1666 157.479);
  --color-success-950: oklch(69.54% 0.1627 157.148);
  --color-success-1000: oklch(62.82% 0.1489 157.411);
  --color-success-1100: oklch(57.83% 0.1354 158.055);
  --color-success-1200: oklch(52.97% 0.1206 159.012);
  --color-success-1300: oklch(48.66% 0.1072 159.772);
  --color-success-1400: oklch(44.61% 0.0944 160.449);
  --color-success-1500: oklch(41.5% 0.0843 161.31);
  --color-success-1600: oklch(38.64% 0.0749 162.216);
  --color-success-1700: oklch(32.67% 0.0625 163.453);
  --color-success-1800: oklch(26.35% 0.0497 164.726);
  --color-spl-cyan-50: oklch(98.4% 0.019 200.873);
  --color-spl-cyan-100: oklch(96.93% 0.0327 202.197);
  --color-spl-cyan-200: oklch(95.39% 0.0468 203.475);
  --color-spl-cyan-300: oklch(93.34% 0.0653 204.345);
  --color-spl-cyan-400: oklch(91.15% 0.0849 205.255);
  --color-spl-cyan-500: oklch(88.42% 0.1097 206.328);
  --color-spl-cyan-600: oklch(85.3% 0.1313 207.781);
  --color-spl-cyan-700: oklch(81.3% 0.1455 210.124);
  --color-spl-cyan-800: oklch(77.34% 0.1517 212.307);
  --color-spl-cyan-900: oklch(71.5% 0.143 215.221);
  --color-spl-cyan-950: oklch(68.71% 0.1385 216.932);
  --color-spl-cyan-1000: oklch(63.13% 0.1296 220.354);
  --color-spl-cyan-1100: oklch(58.09% 0.1194 222.167);
  --color-spl-cyan-1200: oklch(53.41% 0.1083 222.906);
  --color-spl-cyan-1300: oklch(49.42% 0.0976 223.554);
  --color-spl-cyan-1400: oklch(45.74% 0.0871 224.161);
  --color-spl-cyan-1500: oklch(42.81% 0.0787 225.592);
  --color-spl-cyan-1600: oklch(40.07% 0.0708 227.228);
  --color-spl-cyan-1700: oklch(35.25% 0.0634 228.483);
  --color-spl-cyan-1800: oklch(30.2% 0.056 229.695);
  --color-spl-blue-50: oklch(97% 0.014 254.604);
  --color-spl-blue-100: oklch(95% 0.0235 255.12);
  --color-spl-blue-200: oklch(92.94% 0.0334 255.508);
  --color-spl-blue-300: oklch(90.31% 0.0476 254.741);
  --color-spl-blue-400: oklch(87.43% 0.0638 253.884);
  --color-spl-blue-500: oklch(83.59% 0.0881 252.666);
  --color-spl-blue-600: oklch(79.29% 0.1145 252.257);
  --color-spl-blue-700: oklch(73.92% 0.1461 253.736);
  --color-spl-blue-800: oklch(68.93% 0.1753 255.717);
  --color-spl-blue-900: oklch(64.51% 0.2011 258.449);
  --color-spl-blue-950: oklch(62.3% 0.214 259.815);
  --color-spl-blue-1000: oklch(56.22% 0.2385 262.236);
  --color-spl-blue-1100: oklch(52.77% 0.2444 263.353);
  --color-spl-blue-1200: oklch(49.72% 0.2433 264.14);
  --color-spl-blue-1300: oklch(46.44% 0.2268 264.841);
  --color-spl-blue-1400: oklch(43.07% 0.2036 265.505);
  --color-spl-blue-1500: oklch(40.51% 0.1767 265.589);
  --color-spl-blue-1600: oklch(38.14% 0.1488 265.528);
  --color-spl-blue-1700: oklch(33.31% 0.1199 266.665);
  --color-spl-blue-1800: oklch(28.2% 0.091 267.935);
  --color-spl-violet-50: oklch(96.9% 0.0161 293.756);
  --color-spl-violet-100: oklch(95.53% 0.023 294.194);
  --color-spl-violet-200: oklch(94.04% 0.0308 294.519);
  --color-spl-violet-300: oklch(91.46% 0.0456 293.832);
  --color-spl-violet-400: oklch(88.53% 0.0633 293.313);
  --color-spl-violet-500: oklch(84.16% 0.0919 293.465);
  --color-spl-violet-600: oklch(79.38% 0.1235 293.566);
  --color-spl-violet-700: oklch(73.64% 0.1617 293.55);
  --color-spl-violet-800: oklch(68.18% 0.1989 293.368);
  --color-spl-violet-900: oklch(63.13% 0.2345 292.934);
  --color-spl-violet-950: oklch(60.6% 0.25 292.717);
  --color-spl-violet-1000: oklch(55.47% 0.277 292.948);
  --color-spl-violet-1100: oklch(52.52% 0.2801 292.874);
  --color-spl-violet-1200: oklch(49.89% 0.2742 292.649);
  --color-spl-violet-1300: oklch(46.93% 0.2583 292.647);
  --color-spl-violet-1400: oklch(43.82% 0.2381 292.74);
  --color-spl-violet-1500: oklch(41.01% 0.2158 293.174);
  --color-spl-violet-1600: oklch(38.27% 0.193 293.693);
  --color-spl-violet-1700: oklch(33.41% 0.1678 292.487);
  --color-spl-violet-1800: oklch(28.3% 0.1423 291.089);
  --color-spl-rose-50: oklch(96.9% 0.0153 12.422);
  --color-spl-rose-100: oklch(95.43% 0.0234 12.505);
  --color-spl-rose-200: oklch(93.84% 0.0322 12.444);
  --color-spl-rose-300: oklch(91.26% 0.0473 11.087);
  --color-spl-rose-400: oklch(88.34% 0.0657 10.173);
  --color-spl-rose-500: oklch(84.02% 0.0974 11.035);
  --color-spl-rose-600: oklch(79.45% 0.1321 11.921);
  --color-spl-rose-700: oklch(74.29% 0.1735 12.863);
  --color-spl-rose-800: oklch(69.79% 0.2096 14.062);
  --color-spl-rose-900: oklch(66.26% 0.2376 15.647);
  --color-spl-rose-950: oklch(64.5% 0.246 16.439);
  --color-spl-rose-1000: oklch(59.84% 0.2572 17.344);
  --color-spl-rose-1100: oklch(56.33% 0.2487 17.38);
  --color-spl-rose-1200: oklch(52.54% 0.232 17.038);
  --color-spl-rose-1300: oklch(49.23% 0.2142 15.742);
  --color-spl-rose-1400: oklch(46.12% 0.1959 14.038);
  --color-spl-rose-1500: oklch(43.61% 0.1798 12.255);
  --color-spl-rose-1600: oklch(41.24% 0.1641 10.452);
  --color-spl-rose-1700: oklch(34.42% 0.1364 11.135);
  --color-spl-rose-1800: oklch(27.1% 0.1074 12.094);
}