:root {
  --color-primary-50: #f1fdfb;
  --color-primary-100: #dffcf7;
  --color-primary-200: #ccfaf4;
  --color-primary-300: #b4f7ee;
  --color-primary-400: #98f3e8;
  --color-primary-500: #78eee1;
  --color-primary-600: #53e6d9;
  --color-primary-700: #2bd9cd;
  --color-primary-800: #00ccc1;
  --color-primary-900: #00beb4;
  --color-primary-950: #00ada6;
  --color-primary-1000: #009a95;
  --color-primary-1100: #008986;
  --color-primary-1200: #007872;
  --color-primary-1300: #026c6b;
  --color-primary-1400: #085f5f;
  --color-primary-1500: #0e5656;
  --color-primary-1600: #114d4d;
  --color-primary-1700: #0b3e3f;
  --color-primary-1800: #052e2f;
  --color-neutral-50: #f9fafa;
  --color-neutral-100: #f7f7f7;
  --color-neutral-200: #f3f4f4;
  --color-neutral-300: #ecedec;
  --color-neutral-400: #e3e5e4;
  --color-neutral-500: #d9dbda;
  --color-neutral-600: #cacccb;
  --color-neutral-700: #aeb1af;
  --color-neutral-800: #949896;
  --color-neutral-900: #7c807e;
  --color-neutral-950: #6f7371;
  --color-neutral-1000: #585c5a;
  --color-neutral-1100: #4b4f4e;
  --color-neutral-1200: #414543;
  --color-neutral-1300: #353837;
  --color-neutral-1400: #282b29;
  --color-neutral-1500: #202221;
  --color-neutral-1600: #181a19;
  --color-neutral-1700: #0f1211;
  --color-neutral-1800: #070908;
  --color-danger-50: #fef2f2;
  --color-danger-100: #ffe9e9;
  --color-danger-200: #ffe0e0;
  --color-danger-300: #ffd3d3;
  --color-danger-400: #ffc5c5;
  --color-danger-500: #ffb0b0;
  --color-danger-600: #ff9899;
  --color-danger-700: #ff7879;
  --color-danger-800: #ff585c;
  --color-danger-900: #fe3b43;
  --color-danger-950: #fb2c36;
  --color-danger-1000: #ed0013;
  --color-danger-1100: #dd0002;
  --color-danger-1200: #c80002;
  --color-danger-1300: #b60008;
  --color-danger-1400: #a3000e;
  --color-danger-1500: #940c14;
  --color-danger-1600: #841518;
  --color-danger-1700: #660e10;
  --color-danger-1800: #470708;
  --color-warning-50: #fff7ed;
  --color-warning-100: #fff2e0;
  --color-warning-200: #ffecd1;
  --color-warning-300: #ffe0ba;
  --color-warning-400: #ffd3a0;
  --color-warning-500: #ffc380;
  --color-warning-600: #ffb15c;
  --color-warning-700: #ff982f;
  --color-warning-800: #ff8200;
  --color-warning-900: #ff6900;
  --color-warning-950: #ff5f00;
  --color-warning-1000: #fa4e00;
  --color-warning-1100: #e94100;
  --color-warning-1200: #d23600;
  --color-warning-1300: #bb3000;
  --color-warning-1400: #a52c00;
  --color-warning-1500: #922b02;
  --color-warning-1600: #812909;
  --color-warning-1700: #621e08;
  --color-warning-1800: #441205;
  --color-alert-50: #fefce8;
  --color-alert-100: #fefad4;
  --color-alert-200: #fef9bf;
  --color-alert-300: #fef4a0;
  --color-alert-400: #ffee7e;
  --color-alert-500: #ffe653;
  --color-alert-600: #ffdc02;
  --color-alert-700: #fecf00;
  --color-alert-800: #fbc300;
  --color-alert-900: #f0b100;
  --color-alert-950: #e8a500;
  --color-alert-1000: #d88f00;
  --color-alert-1100: #c37a00;
  --color-alert-1200: #ad6500;
  --color-alert-1300: #9b5700;
  --color-alert-1400: #8c4d00;
  --color-alert-1500: #804500;
  --color-alert-1600: #743e0a;
  --color-alert-1700: #5c2f08;
  --color-alert-1800: #432004;
  --color-success-50: #effcf5;
  --color-success-100: #e3fbed;
  --color-success-200: #d6f9e5;
  --color-success-300: #c3f6da;
  --color-success-400: #aef2ce;
  --color-success-500: #91edbe;
  --color-success-600: #71e6ad;
  --color-success-700: #4edc99;
  --color-success-800: #2cd088;
  --color-success-900: #18c47b;
  --color-success-950: #0fba73;
  --color-success-1000: #00a364;
  --color-success-1100: #00915a;
  --color-success-1200: #058051;
  --color-success-1300: #0b714a;
  --color-success-1400: #0f6442;
  --color-success-1500: #115a3d;
  --color-success-1600: #125038;
  --color-success-1700: #0c3e2b;
  --color-success-1800: #062c1f;
  --color-spl-cyan-50: #ecfeff;
  --color-spl-cyan-100: #ddfcfe;
  --color-spl-cyan-200: #ccfafe;
  --color-spl-cyan-300: #b6f6fd;
  --color-spl-cyan-400: #9cf3fd;
  --color-spl-cyan-500: #76eefd;
  --color-spl-cyan-600: #45e6fb;
  --color-spl-cyan-700: #00daf6;
  --color-spl-cyan-800: #00cdee;
  --color-spl-cyan-900: #00b8db;
  --color-spl-cyan-950: #00aed2;
  --color-spl-cyan-1000: #009ac0;
  --color-spl-cyan-1100: #0089ad;
  --color-spl-cyan-1200: #007a9a;
  --color-spl-cyan-1300: #006d8a;
  --color-spl-cyan-1400: #00617b;
  --color-spl-cyan-1500: #085870;
  --color-spl-cyan-1600: #104f65;
  --color-spl-cyan-1700: #0b4155;
  --color-spl-cyan-1800: #053345;
  --color-spl-blue-50: #eff6ff;
  --color-spl-blue-100: #e4f0ff;
  --color-spl-blue-200: #d9e9fe;
  --color-spl-blue-300: #cae1ff;
  --color-spl-blue-400: #b9d9ff;
  --color-spl-blue-500: #a0cdff;
  --color-spl-blue-600: #84c0ff;
  --color-spl-blue-700: #64aeff;
  --color-spl-blue-800: #489bff;
  --color-spl-blue-900: #3489ff;
  --color-spl-blue-950: #2b7fff;
  --color-spl-blue-1000: #1865fe;
  --color-spl-blue-1100: #1556f5;
  --color-spl-blue-1200: #144be9;
  --color-spl-blue-1300: #1743d5;
  --color-spl-blue-1400: #193dbd;
  --color-spl-blue-1500: #1a3ba6;
  --color-spl-blue-1600: #1c3990;
  --color-spl-blue-1700: #1a2f73;
  --color-spl-blue-1800: #162556;
  --color-spl-violet-50: #f5f3ff;
  --color-spl-violet-100: #f1eeff;
  --color-spl-violet-200: #ece8fe;
  --color-spl-violet-300: #e4deff;
  --color-spl-violet-400: #dad2ff;
  --color-spl-violet-500: #cdc0ff;
  --color-spl-violet-600: #bfacff;
  --color-spl-violet-700: #b093ff;
  --color-spl-violet-800: #a17aff;
  --color-spl-violet-900: #945fff;
  --color-spl-violet-950: #8e51ff;
  --color-spl-violet-1000: #832dff;
  --color-spl-violet-1100: #7b18f8;
  --color-spl-violet-1200: #7308ec;
  --color-spl-violet-1300: #6906da;
  --color-spl-violet-1400: #5f0ac5;
  --color-spl-violet-1500: #5711b1;
  --color-spl-violet-1600: #4e159d;
  --color-spl-violet-1700: #3e1182;
  --color-spl-violet-1800: #2f0c68;
  --color-spl-rose-50: #fff1f2;
  --color-spl-rose-100: #ffeaeb;
  --color-spl-rose-200: #ffe2e5;
  --color-spl-rose-300: #ffd6da;
  --color-spl-rose-400: #ffc7ce;
  --color-spl-rose-500: #ffb0bb;
  --color-spl-rose-600: #ff97a5;
  --color-spl-rose-700: #ff778d;
  --color-spl-rose-800: #ff5675;
  --color-spl-rose-900: #ff3460;
  --color-spl-rose-950: #ff2056;
  --color-spl-rose-1000: #f30043;
  --color-spl-rose-1100: #e2003b;
  --color-spl-rose-1200: #ce0036;
  --color-spl-rose-1300: #bc0035;
  --color-spl-rose-1400: #aa0035;
  --color-spl-rose-1500: #9b0036;
  --color-spl-rose-1600: #8d0135;
  --color-spl-rose-1700: #6e0127;
  --color-spl-rose-1800: #4e0118;
}